<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen flex flex-col bg-gray-100 text-gray-900">
    {% include 'header.html' %}
    <div class="flex-grow flex flex-col items-center justify-center px-4">
        <h1 class="text-4xl font-bold mb-4 text-center">{{ error }}</h1>
        <h2 class="text-xl text-center max-w-xl text-blue-600 hover:text-blue-800 hover:underline decoration-solid">
            <a href="{{url_for('home')}}">Go back to the homepage</a>
        </h2>
    </div>
    {% include 'footer.html' %}
</body>

</html>